body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   color: #606060;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.header {
    background-image: url("./assets/image/12345.jpg");
    
}
.heaer-containar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 300;
    width: 970px;
    margin: 0 auto;
}
.headar-first-itme {
    display: flex;
    align-items: center;
}
.headar-seconed-itme {
    display: flex;
    align-items: center;
}
.lenguage-name {
    color: #ffffff;
    font-family: sans-serif;
}
.lenguage-name-head {
    display: flex;
    position: relative;
    margin: 0 0 0 40px;
    padding: 0 15px 0 5px;
    border: 1px solid #212121;
    border-bottom: 1px solid #222;
    border-radius: 5px;
    box-shadow: #2d2d2d 0 0 2px;
    background: rgba(0,0,0,0.1);
    font-size: 10px;
    line-height: 21px;
    text-shadow: 0 1px 1px #000;
    cursor: pointer;
    color: #FFF;
    text-align: left;
}
.sign-in-button {
    display: flex;
    position: relative;
    margin: 0 0 0 90px;
    padding: 0 5px 0 5px;
    border: 1px solid #212121;
    border-bottom: 1px solid #222;
    border-radius: 5px;
    box-shadow: #2d2d2d 0 0 2px;
    background: rgba(0,0,0,0.1);
    font-size: 10px;
    line-height: 21px;
    text-shadow: 0 1px 1px #000;
    cursor: pointer;
}
.fab {
    color: #ffffff;
}
.social-item {
    padding-right: 12px;
}
.social-head {
    padding-right: 30px;
}
.Download-text {
    color: #ffffff;
    padding: 0 8px;
}
.fa-download {
    color: #ffffff;
    padding: 0 8px;
    border-right: 1px solid #070807 ;
}
.Download-button {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 5px 0 5px;
    border: 1px solid #212121;
    border-bottom: 1px solid #222;
    border-radius: 5px;
    box-shadow: #2d2d2d 0 0 2px;
    background-image: linear-gradient(#5d92e8, #2e70db);
    font-size: 14px;
    line-height: 25px;
    text-shadow: 0 1px 1px #000;
    cursor: pointer;  
    border-top: 1px solid rgba(255,255,255,0.5);
}
.full-page {
    position: relative;
    width: 970px;
    margin: 0 auto;
}
.page-head {
    background-repeat: no-repeat;
    position: relative;
    height: 330px;
    background-image: url("./assets/image/background.png");
}
.allos-download-button {
    position: absolute;
    right: 160px;
    top: 60px;
}
.page-download-text-head {
    display: flex;
    align-items: center;
    width: 135px;
    height: 50px;
    background-color: #2ac955;
    background: linear-gradient( #2ac955, #484d49);
    margin-bottom: 10px;
}
.page-download-text {
    color: #ffffff;
    font-size: 13px;
    padding-left: 8px;
}
.fa-windows {
    font-size: 20px;
    padding: 5px 10px;
    border-right: 1px solid #2b2e2c ;
}
.Mac {
    font-size: 20px;
    padding: 5px 10px;
    border-right: 1px solid #2b2e2c ;
}
.page-head-text {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 8px;
    width: 100%;
    font: bold 30px Arial;
    text-shadow: 0 1px 1px #fff;
    text-align: center;
    opacity: .8;
    color: #000;
}
.discription {
    padding: 50px 50px 15px;
    display: grid;
    grid-template-columns:  auto auto;
    
}
.icon {
    font-size: 50px;
    padding: 10px 30px 20px 5px;
    color: transparent;
    background: linear-gradient( #5562c2, black);
    -webkit-background-clip: text;
}
.discription-item {
    width: 400px;
    display: flex;
    align-items: center;
    margin: 0 10px 40px 10px;
    
}.first-item-text {
    font-size: 18px;
    margin: 0 0 10px;
}
.first-item-seconed-text {
    margin: 0;
}
.media {
    padding: 0 50px;
}
.title-media {
    font: bold 18px Arial;
    margin: 0 0 10px;
}
.discription-shadow-bottom {
    height: 20px;
    position: relative;
    background: url(https://st.prntscr.com/2022/01/07/0148/img/shadow-bottom.png) no-repeat 50% 0;
}
.discription-shadow-top {
    height: 20px;
    position: relative;
    background: url(	https://st.prntscr.com/2022/01/07/0148/img/shadow-top.png) no-repeat 50% 0;
}
.footer-wrapar {
    display: flex;
    justify-content:center;
    height: 53px;
    margin-top: 40px;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.6);
}
.footer-item-menu {
    display: flex;
    display: flex;
    margin: 15px 0 0;
    padding: 0;
}
.footer-item-head {
    margin: 0 25px 0 0;
}
.footer-logo {
    display: flex;
    margin: 15px 70px 0 0px;
}
.footer-copy {
    display: flex;
    margin: 15px 0 0;
    padding: 0;
}
.media {
    margin: 45px 30px 0;
    display: flex;
}
.media-item {
    margin: 0 40px;
}
/** image slider start*/
.slider {
    width: 320px;
    height: 240px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 960px;
    background-color: pink;
    height: 240px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -320px;
  }
  #slide-3:target ~ .image-container {
    left: -640px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
  }
  /** image slider end */